<header>
  <h1>Aux Alentours</h1>
</header>
<main id="alentours">
  <section>
    <div class="card">
      <h2>Chemin des châteaux forts d'Alsace</h2>
    </div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </section>
</main>

